# Namespace for R.ff (currently trying to export everything in order to facilitate debugging)
# (c) 2010 Jens Oehlschägel
# Licence: Proprietary
# Provided 'as is', use at your own risk
# Created: 2010-03-21
# Last changed: 2010-03-21

#useDynLib(R.ff)

export(

 ffchunk

)
